*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 15px 25px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
}

.cartao{
    width: 260px;
    height:  200px;

}

.cartao-imagem {
    width: 100px;
    border-radius: 10px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(48, 28, 48);
}

main {
    flex: 1;
}


.cabecalho-link {
    color: black;
    text-decoration: none;
}

h1 {
    color: antiquewhite;
    font-size: 24px;
}

footer {
    background-color: rgb(20, 0, 39);
    padding: 15px 25;
    color:ghostwhite;
}

.cartao-interno {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.cartao:hover .cartao-interno {
    transform: rotayeY(180deg)
}

.catao-frente, .cartao-verso {
    position: relative;
    border-radius: 12px;
    box-shadow: 0 6px rgb(17, 17, 17);
    backface-visibility: hidden;
}

.cartao-verso{
    transform: rotateY(180deg);
}